<div>
  <div>
    <h1>
      Ask me about...
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Country
        </th>

        <th>
          Ask me about
        </th>

      </tr>

      <% @list_of_users.each do |an_user| %>
      <tr>
        <td>
          <%= an_user.name %>
        </td>

        <td>
          <%= an_user.country %>
        </td>

        <td>
          <%= an_user.ask_me_about %> 
        </td>

 
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
